<h1> Edit a Post </h1>

<form action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="title"> Title: </label>
    <input type="text" name="title" value ="<%= @book.title %>">
    <label for="author">Author: </label>
    <input type="text" name="author" value="<%= @book.author %>">
    <label for="genre"> Genre: </label>
    <input type="text" name="genre" value ="<%= @book.genre %>"> 
    <label for="review"> Review: </label>
    <input type="text" name="review" value ="<%= @book.review %>"> 
    <br>
    <label for="image_url"> image URL: </label>
    <input type="text" name="image_URL" value ="<%= @book.image_url %>"
    <br>
    <input type="submit" name="" value="Edit Post">
</form> 